
body {
  margin: 0;
  padding: 1em;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

.navbar__routes ul,
.footer__author ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
}

.navbar__routes a,
.footer__author {
  text-decoration: none;
  list-style-type: none;
}

.navbar__routes a {
  color: white;
  font-weight: 650;
  padding: 0 5em 0 5em;
}

.navbar__routes a:hover {
  color: #36454f;
}

.footer__author {
  color: white;
  animation: 2s ease-out 0s 1 fadeInUp;
}

.footer__links {
  position: fixed;
  bottom: 0;
  width: 100%;
}


@media (max-width: 500px) {
  .navbar__routes {
    font-size: 0.8em;
  }

  .navbar__routes ul {
    justify-content: space-between;
  }

  .navbar__routes a,
  .navbar__routes a:hover {
    font-weight: 800;
    padding: 0 1em 0 1em;
  }

  ul {
    padding: 0;
  }
}

