@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
body {
  margin: 0;
  padding: 50px 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0 auto;
  max-width: 800px;
}

.app h2 {
  font-size: 3em;
}
